{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DOSMUSIC</title>
    <link rel="icon" href="{% static 'ico/terminal.png' %}" sizes="16x16 32x32" type="img/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/docs.css' %}" rel="stylesheet">
    <link href="{% static 'js/google-code-prettify/prettify.css' %}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
    <![endif]-->

    <!-- Le fav and touch icons
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">
    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">-->

  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">

  <!-- Navbar ================================================== -->

      <div class="navbar navbar-inverse fixed-top">
       <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          </button>
          <a class="brand" href="{% url 'blog-home' %}">DOSMUSIC</a>
          <div class="nav-collapse collapse">
          <ul class = "nav">
            <!-- Navbar Right Side -->
              {% if user.is_authenticated %}
                <li class="">
                <a class="nav-item nav-link" href="{% url 'category-create' %}">New Playlist</a>
                </li>
                <li class="">
                <a class="nav-item nav-link" href="{% url 'post-create' %}">Add Song</a>
                </li>
                <li class="">
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="" >
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                <form class="d-flex" method=POST action="{% url 'search_venues' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" name="searched"><button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
              {% else %}
                <li class="">
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="">
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                </li>
              {% endif %}
            </ul>
            </div>
            </div>
          </div>
        </div>

  <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

     <!-- Footer
    ================================================== -->
        <style>
        .wrapper {
            min-height: 100%;
            display: grid;
            grid-template-rows: auto 1fr auto;
        }
        </style>

    <footer class="wrapper">
      <div class="container">
        <p>Designed and built with a tons of bugs by <a href="https://github.com/MaxBubblegum47" target="_blank">@MaxBubblegum47</a></p>
        <!--<p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>-->

        <ul class="footer-links">
          <li><a href="https://github.com/MaxBubblegum47">GitHub</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://www.linkedin.com/in/lorenzo-stigliano-603aba153/">LinkedIn</a></li>
          <li class="muted">&middot;</li>
        </ul>
      </div>
    </footer>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap-386.js' %}"></script>
    <script src="{% static 'js/bootstrap-transition.js' %}"></script>
    <script src="{% static 'js/bootstrap-alert.js' %}"></script>
    <script src="{% static 'js/bootstrap-modal.js' %}"></script>
    <script src="{% static 'js/bootstrap-dropdown.js' %}"></script>
    <script src="{% static 'js/bootstrap-scrollspy.js' %}"></script>
    <script src="{% static 'js/bootstrap-tab.js' %}"></script>
    <script src="{% static 'js/bootstrap-tooltip.js' %}"></script>
    <script src="{% static 'js/bootstrap-popover.js' %}"></script>
    <script src="{% static 'js/bootstrap-button.js' %}"></script>
    <script src="{% static 'js/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'js/bootstrap-carousel.js' %}"></script>
    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>
    <script src="{% static 'js/bootstrap-affix.js' %}"></script>

    <script src="{% static 'js/holder/holder.js' %}"></script>
    <script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>

    <script src="{% static 'js/application.js' %}"></script>
</body>
</html>