{% extends "base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div class="column">
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content | safe }}</p>
        <form action="{% url 'like_post' post.pk %}" method = "POST">
        {%  if post.header_image %}
            <img src="{{ post.header_image.url }}" style="width:640px;height:360px;">
        {% endif %}
    <audio controls>
    <source src= "{{ object.audio.url }}" type="audio/ogg">
    <source src= "{{ object.audio.url }}" type="audio/ogg">
    </audio>
     {% csrf_token %}
       <div>
     <!--<a class="btn btn-default" href="{% url 'report_post' pk=post.pk %}">Report</a>-->
    <!--<button type="submit", name="post_id", value ="{{ post.id }}", class = "btn btn-primary btn-sm">Like</button> - {{ total_likes }} Likes-->
       </div>


    </form>
    </div>
  </article>
   <article>
  {% for comment in post.comments.all %}
    {% if user.is_authenticated and comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong> {{ comment.created_date }}
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p></p>
{% endfor %}
  </article>
{% endblock content %}